<div class="calculator-container">
    <h5 class="cal-head">String Calculator</h5>
    <div>
        <label class="cal-label">Enter Numbers (comma-separated):</label>
        <input class="str-input" type="text" placeholder="e.g., 1,2,3" [(ngModel)]="numberString" />
    </div>

    <div class="cal-btn">
        <button class="btn btn-primary mr-3 action-btn" (click)="calculateSum()">Calculate Sum</button>
    </div>
    <div class="str-total" *ngIf="!isDisplayErr">
        <h3>Total: {{ total }}</h3>
    </div>
    <div class="str-err" *ngIf="isDisplayErr">
        <h3>Error: negative numbers not allowed {{ negativeNumbers }}</h3>
    </div>
</div>